<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.tourism.dao.UserTicketMapper">
    <resultMap id="BaseResultMap" type="com.xawl.tourism.pojo.UserTicket">
        <id column="code" property="code" jdbcType="CHAR"/>
        <result column="num" property="num" jdbcType="SMALLINT"/>
        <result column="use_date" property="useDate" jdbcType="DATE"/>
        <result column="use_time" property="useTime" jdbcType="TIMESTAMP"/>
        <result column="is_use" property="isUse" jdbcType="BIT"/>
        <result column="oid" property="oid" jdbcType="CHAR"/>
        <result column="tid" property="tid" jdbcType="CHAR"/>
        <result column="price" property="price" jdbcType="REAL"/>
    </resultMap>

    <resultMap id="TIcketVoMap" type="com.xawl.tourism.pojo.TicketVo">
        <association property="userTicket" javaType="com.xawl.tourism.pojo.UserTicket">
            <id column="code" property="code" jdbcType="CHAR"/>
            <result column="num" property="num" jdbcType="SMALLINT"/>
            <result column="use_date" property="useDate" jdbcType="DATE"/>
            <result column="use_time" property="useTime" jdbcType="TIMESTAMP"/>
            <result column="is_use" property="isUse" jdbcType="BIT"/>
            <result column="oid" property="oid" jdbcType="CHAR"/>
            <result column="tid" property="tid" jdbcType="CHAR"/>
            <result column="UserTicketPrice" property="price" jdbcType="REAL"/>
        </association>
        <association property="ticket" javaType="com.xawl.tourism.pojo.Ticket">
            <id column="tid" property="tid" jdbcType="CHAR"/>
            <result column="bid" property="bid" jdbcType="CHAR"/>
            <result column="ticketPrice" property="price" jdbcType="REAL"/>
            <result column="tname" property="tname" jdbcType="CHAR"/>
            <result column="info" property="info" jdbcType="CHAR"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    tb_user_ticket.code, tb_user_ticket.num, tb_user_ticket.use_date, tb_user_ticket.use_time, tb_user_ticket.is_use, tb_user_ticket.oid, tb_user_ticket.tid
    ,tb_user_ticket.price UserTicketPrice
  </sql>
    <sql id="TicketList">
        tb_ticket.tid, tb_ticket.bid, tb_ticket.price ticketPrice, tb_ticket.tname, tb_ticket.info
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_user_ticket
        where code = #{code,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user_ticket
    where code = #{code,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.xawl.tourism.pojo.UserTicket">
    insert into tb_user_ticket (code, num, use_date, 
      use_time, is_use, oid, tid, price
      )
    values (#{code,jdbcType=CHAR}, #{num,jdbcType=SMALLINT}, #{useDate,jdbcType=DATE}, 
      #{useTime,jdbcType=TIMESTAMP}, #{isUse,jdbcType=BIT}, #{oid,jdbcType=CHAR}, #{tid,jdbcType=CHAR}, #{price}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.xawl.tourism.pojo.UserTicket">
        insert into tb_user_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="useDate != null">
                use_date,
            </if>
            <if test="useTime != null">
                use_time,
            </if>
            <if test="isUse != null">
                is_use,
            </if>
            <if test="oid != null">
                oid,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="price != null">
                price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=CHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=SMALLINT},
            </if>
            <if test="useDate != null">
                #{useDate,jdbcType=DATE},
            </if>
            <if test="useTime != null">
                #{useTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isUse != null">
                #{isUse,jdbcType=BIT},
            </if>
            <if test="oid != null">
                #{oid,jdbcType=CHAR},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=CHAR},
            </if>
            <if test="price != null">
                #{price},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xawl.tourism.pojo.UserTicket">
        update tb_user_ticket
        <set>
            <if test="num != null">
                num = #{num,jdbcType=SMALLINT},
            </if>
            <if test="useDate != null">
                use_date = #{useDate,jdbcType=DATE},
            </if>
            <if test="useTime != null">
                use_time = #{useTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isUse != null">
                is_use = #{isUse,jdbcType=BIT},
            </if>
            <if test="oid != null">
                oid = #{oid,jdbcType=CHAR},
            </if>
            <if test="tid != null">
                tid = #{tid,jdbcType=CHAR},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
        </set>
        where code = #{code,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xawl.tourism.pojo.UserTicket">
    update tb_user_ticket
    set num = #{num,jdbcType=SMALLINT},
      use_date = #{useDate,jdbcType=DATE},
      use_time = #{useTime,jdbcType=TIMESTAMP},
      is_use = #{isUse,jdbcType=BIT},
      oid = #{oid,jdbcType=CHAR},
      tid = #{tid,jdbcType=CHAR}
       price = #{price}
    where code = #{code,jdbcType=CHAR}
  </update>

    <!--生成结束-->

    <select id="findbyOid" parameterType="java.lang.String" resultMap="TIcketVoMap">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="TicketList"/>
        FROM tb_user_ticket , tb_ticket
        where tb_user_ticket.oid=#{oid} and tb_user_ticket.tid=tb_ticket.tid
    </select>
    <update id="tickTicket" parameterType="java.util.Map">
        update tb_user_ticket SET is_use=true, use_time = #{useTime,jdbcType=TIMESTAMP}
        WHERE code=#{code}
    </update>
    <!-- <select id="findByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
         SELECT
         <include refid="Base_Column_List"/>
         FROM tb_user_ticket
         where oid=#{oid}
     </select>-->
</mapper>